{% extends 'base.html' %}

{% block title %} Searching Result {% endblock %}
{% block css %} 
    .c{
      max-width: 200px;
  height: 235px;
    }
    .nav-link:hover{
          
      background-color:grey;
      border-radius:5px;
      
    }
{% endblock %}

{% block body %} 
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 mx-auto mt-3">
      <div class="row mx-auto">
        {% if products %}
        {% for product in products %}
          <div class="col-6 col-md-3 my-2">
            <div class="card mx-auto mb-3">
              <img src="/image/{{product.image}}" class="c card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title" id="nameproductId{{product.id}}">{{product.name}}</h5>
                  {% comment %} <p class="card-text">{{product.desc|slice:"0:25"}}...</p> {% endcomment %}
                  <h6 class="card-title">Rs. <span id="priceproductId{{product.id}}" class="font-weight-bold">{{product.price}}</span><span class="mx-2"><del>M.R.P: {{product.original_price}}</del></span></h6>
                
                  <div class="row">
                    <span id="divproductId{{product.id}}" class="divproductId">
                      <button id="productId{{product.id}}" class="btn btn-outline-secondary btn-sm cart m-1 my-2">Add To Cart</button>
                    </span>
                    <a href="{% url 'prodView' product.id %}"><button id="quickView{{product.id}}" class="btn btn-outline-secondary btn-sm m-1 my-2">View</button></a>
                  </div>
              </div> 
            </div>
          </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
  {% else %}
    <div class="alert alert-danger alert-dismissible fade show my-4" role="alert">
      <strong>Product Not found</strong> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
 
    {% endif %}

    
</div> 
{% endblock %}

{% block js %}

<script>
  if(localStorage.getItem('cart') == null){
    var cart={};
  }
  else{
    cart = JSON.parse(localStorage.getItem('cart'));
    updateCart(cart);
  }

  //$('.cart').click(function(){
    $('.divproductId').on('click','button.cart',function(){
    var idstr = this.id.toString();
    if(cart[idstr] != undefined){
      qty = cart[idstr][0] + 1;
    }
    else{
      qty = 1;
      name = document.getElementById('name' + idstr).innerHTML;
      price = document.getElementById('price' + idstr).innerHTML;
      
      cart[idstr] = [qty,name,parseInt(price)];
    }
    updateCart(cart);
    // console.log(cart);
  });

//$('#popcart').popover();
//document.getElementById('popcart').setAttribute('data-content','<h5>Cart for your item in my shopping</h5>');

$('#popcart').popover();
updatePopover(cart);
function updatePopover(cart)
{
  var popStr = "";
  popStr = popStr + "<h5> Cart for your item in my shopping </h5>";
  var i = 1;
  for (var item in cart)
  {
    popStr = popStr + "<b>" + i + "</b>. ";
    popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0,16) +"<b> - </b>"+ "<b>Qty-</b>" + cart[item][0] +'<br>';
    //console.log(popStr);
    i = i + 1;
  }
  popStr = popStr + "<a href='/shop/checkout'><button class='btn btn-secondary btn-sm' id='checkout'>Checkout</button></a><button class='mx-2 btn btn-secondary btn-sm' onclick='clearCart()' id='clearCart'>Clear Cart</button>"
  document.getElementById('popcart').setAttribute('data-content', popStr);
  $('#popcart').popover('show');
}

function clearCart(){
  cart = JSON.parse (localStorage.getItem('cart'));
  for (var item in cart)
  {
    document.getElementById('div' + item).innerHTML = '<button id="'+ item +'" class="btn btn-primary cart m-1 my-2">Add To Cart</button>'
  }
  localStorage.clear();
  cart = {};
  updateCart(cart);
}


function updateCart(cart){
  var sum = 0;
  console.log(cart);
  for(var item in cart){
    sum = sum + cart[item][0];
    document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-outline-secondary btn-sm minus m-1 my-2'> - </button> <span id='val" + item + "'>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-outline-secondary btn-sm plus m-1 my-2'> + </button>";
  }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
    updatePopover(cart);
}

$('.divproductId').on("click","button.minus",function(){
  //console.log("minus clicked");
  a = this.id.slice(14,);
  cart['productId' + a][0] = cart['productId' + a][0] - 1;
  cart['productId' + a][0] = Math.max(0, cart['productId' + a][0])
  document.getElementById('valproductId' + a).innerHTML = cart['productId' + a][0];

  updateCart(cart);
});


$('.divproductId').on("click","button.plus",function(){
  //console.log("plus clicked");
  a = this.id.slice(13,);
  cart['productId' + a][0] = cart['productId' + a][0] + 1;
  document.getElementById('valproductId' + a).innerHTML = cart['productId' + a][0];
  updateCart(cart);
});
</script>
{% endblock %}
